<ion-content fullscreen="true">
  <ion-icon class="close" name="close" (click)="close()"></ion-icon>
  <div *ngIf="!started" class="start">
    <img src="/assets/examen.jpg" alt="" />
    <div class="start_content">
      <h2>Le code de la route pour les vélos (40 questions)</h2>
      <p>
        Connaissez-vous vraiment toutes les règles qui s’appliquent à vélo ?
        <br />
        <br />
        Vérifiez vos connaissances maintenant !
      </p>
    </div>
    <ion-button *ngIf="!started" expand="full" (click)="start()">Commencer
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="started" class="quizz_container">
    <div class="quizz_image">
      <div class="quizz_image_background"></div>
      <img [src]="quizz[quizz_index].picture" alt="" />

    </div>
    <div class="quizz_reponse_text" *ngIf="show_result">
      <ion-icon *ngIf="success" class="success" name="checkmark"></ion-icon>
      <h2 *ngIf="success">Bonne réponse 💪</h2>
      <ion-icon *ngIf="!success" class="error" name="close"></ion-icon>
      <h2 *ngIf="!success">Mauvaise réponse 😢</h2>
      <p>
        {{quizz[quizz_index].reponse_text}}
      </p>
      <ion-button expand="block" fill="clear" (click)="next()">Suivant
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
    <div class="quizz_footer">
      <div class="quizz_question">
        {{quizz[quizz_index].question}}
      </div>
      <div class="quizz_reponses" [class.disabled]="show_result">
        <ion-button [class.selected]="selected == i" fill="outline" (click)="select(i)"
          *ngFor="let reponse of quizz[quizz_index].reponses; let i = index;">
          {{reponse}}
        </ion-button>
      </div>
      <ion-button *ngIf="started " [class.disabled]="show_result" expand="block" (click)="result()">
        Vérifier
        <!-- <ion-icon slot="end" name="arrow-forward"></ion-icon> -->
      </ion-button>
    </div>
    <div style="display : none">
      Question 1 sur 10

      Que signifie ce panneau ?


      Voie obligatoire pour les cylistes (sans side-car ou remorque)
      Voie conseillée pour les cyclistes (sans side-car ou remorq
      Question 2 sur 10Peut-on perdre des points au permis pour une infraction à vélo ?
      oui
      non
      Question 3 sur 10Que signifie ce panneau pour les cyclistes ?
      autorisation de continuer à droite sans céder le passage aux piétons
      autorisation de continuer à droite en cédant le passage aux piétons
      interdiction de franchir le feu rouge pour les cyclistes
      Question 4 sur 10Que signifie ce panneau?
      velo dans rue piétonne

      Question 5 sur 10Un cycliste peut-il rouler sur les trottoirs (sans pistes cyclables ) ?
      non sauf pour un enfant de moins de 8 ans ou sauf si le vélo est tenu à la main
      non sauf pour les moins de 18 ans ou sauf si le vélo est léger
      non, en aucun cas
      Question 6 sur 10Que signifie ce panneau ?
      voie recommandé pour les voitures mais les vélos peuvent quand même l’utilliser
      Voie interdite aux vélos
      voie non recommandée pour les vélos
      Question 7 sur 10Dans quel cas le port d’un gilet rétro-réfléchissant est-il obligatoire ?
      lorsque le cycliste circule hors agglomération ou quand la visibilité est insuffisante
      lorsqu’il fait froid
      jamais
      Question 8 sur 10Que signifie ce panneau ?

      Question 9 sur 10Que signifie ce panneau ?
      Interdit aux vélos
      Interdit aux vélos non écologiques (par ex, obligation d’avoir un vélo en bambou…)
      Fin de voie réservée à la circulation des véhicules non motorisés, des piétons et des cavaliers.
      Obligatoire pour les cylistes

      Conseillé pour les cyclistes
      réservé aux piétons et strictement interdit aux cyclistes

      autorisé aux cyclistes à condition de conserver l’allure du pas et ne pas gêner les piétons
      Question 10 sur 10Que signifie ce panneau ?
      Impasse pour les vélos
      Impasse sauf pour les vélos
      Accès interdit aux vélos
    </div>
  </div>
</ion-content>