<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="md-home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="md-book"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="md-medal"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>