<ion-header no-border translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="categorie" fullscreen="true">
  <div class="page_hero" *ngIf="categorie">
    <div class="page_hero_name">{{categorie.name}}</div>
    <img [src]="categorie.picture" alt="" />
  </div>
  <ion-card [class.showMore]="showMore">
    <ion-label>De quoi va t'on parler ?</ion-label>
    <ion-card-content>
      <div class="custom_ul" [innerHTML]="categorie.description"></div>
    </ion-card-content>
    <ion-button class="more" expand="full" fill="clear" (click)="toogleMore()">
      <span *ngIf="!showMore">Lire la suite</span>
      <span *ngIf="showMore">Refermer</span>
      <ion-icon slot="end" [name]="!showMore ? 'md-arrow-down':'md-arrow-up'"></ion-icon>
    </ion-button>
  </ion-card>
  <ion-list-header class="cours">
    <ion-label>Sujets</ion-label>
  </ion-list-header>
  <ion-list class="cours">
    <ion-item *ngFor="let cour of cours; let i = index;" (click)="presentModal(cour)">
      <ion-thumbnail slot="start">
        <img [src]="cour.picture">
      </ion-thumbnail>
      <ion-label>
        <h3>{{cour.titre}}</h3>
        <p>{{cour.subtitle}}</p>
      </ion-label>
      <ion-icon slot="end" [class.active]="i == checkmark" name="checkmark-circle"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>