<ion-header no-border translucent="true">
  <ion-toolbar>
    <ion-title>
      Examen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Suivre votre progrès</ion-card-subtitle>
      <ion-card-title>Derniers examens</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list-header class="examen">
    <ion-label>Historique</ion-label>
  </ion-list-header>
  <ion-list class="examen">
    <ion-item mode="ios" *ngFor="let examen of examens; let i = index;">
      <ion-label>{{examen.date}}</ion-label>

      <ion-note slot="end" color="primary" [class.green]="examen.score >= 35"
        [class.orange]="examen.score >= 30 && examen.score < 35" [class.red]="examen.score < 30">
        <span class="emoji" *ngIf="examen.score >= 35">🏆</span>
        <span class="score">{{examen.score}}</span>/40
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>