ion-card {
  --background: #fff;
  margin-top: 5px;

  ion-card-header {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  ion-card-content {
    padding-top: 0px;
  }
}

ion-list-header.examen ion-label {
  color: #fff !important;
  background: transparent !important;
  font-size: 23px;
  text-transform: initial;
  padding: 0px 0px 8px;
  font-weight: bold;
}
ion-list.examen {
  padding: 0px;
  margin: 0px 10px 15px;
  border-radius: 8px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;

  ion-item {
    background: #fff;
    // margin: 0px 15px;
    overflow: hidden;
    color: #393939;
    font-weight: 500;
    height: 44px;
    ion-label {
      font-size: 16px;
      margin: 0px;
      padding: 0px;
    }
    &:last-child {
      --border-width: 0px;
      --border-color: transparent;
    }
    ion-note {
      font-size: 17px;
      //   padding-top: 14px;
      //   position: relative;
      //   padding: 0px;
      //   margin: 13px 0px 0px;
      span.emoji {
        position: absolute;
        left: -25px;
        top: -4px;
      }
      span.score {
        font-weight: bold;
      }
      &.green {
        color: #10dc60;
      }
      &.orange {
        color: orange;
      }
      &.red {
        color: red;
      }
    }
  }
}
