div.column {
  width: calc(50% - 30px);
  float: left;

  margin-left: 20px;
  ion-card {
    background: #fff;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 20px;
    margin-top: 10px;
    ion-icon {
      position: absolute;
      top: 10px;
      right: 10px;

      font-size: 20px;

      &.active {
        color: green;
      }
    }
    img {
      max-height: 70px;
      object-fit: contain;
      margin-top: 15px;
    }

    ion-card-content {
      padding-bottom: 0px;
      p {
        margin-bottom: 0px;
      }
    }
  }
}
