<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Tableau de bord
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card class="welcome-card">
    <img src="/assets/header.jpeg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Première utilisation</ion-card-subtitle>
      <ion-card-title>Bienvenue sur le code de la route vélo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Afin d'évaluer votre niveau, on te propose de faire un examen blanc pour savoir quelles sont les catégories
        dans lequelles tu as besoin de nos cours</p>
    </ion-card-content>
    <ion-button expand="full" fill="clear" (click)="goQuizz()">
      Évaluer mon niveau
      <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
    </ion-button>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item (click)="goTab2()">
      <ion-icon slot="start" color="white" name="book"></ion-icon>
      <ion-label>Accéder au cours</ion-label>
    </ion-item>
  </ion-list>
</ion-content>